<!doctype html>
<html>
    <head>
    
        <!-- Include css Stylesheet -->
        <link rel="stylesheet" href="css/styles.css">

        <!-- Include the AngularJS library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>

        <!-- Include Materialize Library -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    </head>
    
    <script>
    var app = angular.module("myApp", []);
    app.controller("HttpFilterController", function ($scope, $http) {

        $scope.SearchData = function () {

            var config = {
              params: {
//                "name.first": $scope.firstname,
//                "name.last": $scope.lastname,
                "city": $scope.city,
                "state": $scope.state
              }
            };
            

            $http.get('https://petsource-pethacks.herokuapp.com/breeders', config)
            .success(function (response) {
                $scope.PostDataResponse = response;
            })
            .error(function (response) {
                $scope.ResponseDetails = response
            });
        };

    });
</script>
    <script>
        $(document).ready(function(){
    // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });
    </script>
  
    <body ng-app = "myApp" ng-controller = "HttpFilterController">

         <ul id="slide-out" class="side-nav fixed" style = "width: auto">
            <a href = "index.html"><img href = "index.html" style = "height: 200px; padding-top: 15px; padding-bottom: 15px; padding-left: 20px; padding-right: 20px" src = "images/logo.ico"></a>
            <li><a href="index.html">About</a></li>
            <li class="active"><a href="Search.html">Find a Breeder</a></li>
            <li><a href = "Analytics.html" >Analytics</a></li>
        </ul>
        
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons medium grey" style = "color: white">menu</i></a>
        
        <main>
              
            
            <div class="row" style = "padding-top: 20px%">
                <div class="col s12"><h2 class = "center-align blue-grey-text text-darken-3">Find a Breeder</h2></div>
                <div class="col s8  offset-s2">
                    <div class="nav-wrapper">
                        <div class = "row">

                            <div class="row">
                                <div class="input-field col s6">
                                  <input ng-model = "firstname" id="first_name" type="text" class="validate">
                                  <label class = "active" for="first_name">First Name</label>
                                </div>
                                <div class="input-field col s6">
                                  <input ng-model = "lastname" id="last_name" type="text" class="validate">
                                  <label class = "active" for="last_name">Last Name</label>
                                </div>
                              </div>
                            <div class="row">
                                <div class="input-field col s6">
                                  <input ng-model = "city" id="city" type="text" class="validate">
                                  <label class = "active" for="city">City</label>
                                </div>
                                <div class="input-field col s6">
                                  <input ng-model = "state" id="state" type="text" class="validate">
                                  <label class = "active" for="state">State</label>
                                </div>
                              </div>
                        </div>
                    </div>
                    
                    
                    <div style="padding-top: 30px" class = "center-align">
                        <a ng-click = "SearchData()" class="waves-effect waves-light btn" style="width: 75%">Search</a>
                    </div>
                    
                </div>
            </div>
            
            <div style = "padding-top: 70px">
            <div ng-repeat="breeder in PostDataResponse">
                <div style="padding-left:10%; padding-right: 10%; padding-top: 10px">
                    <a ng-click = "#modal1" class = "grey-text text-darken-4">
                     <div class="col s12 m7 card horizontal white z-depth-4 grey-text text-darken-4">
                         
                          <div class="card-stacked grey-text text-darken-4">
                            <div class="card-content">
                                <div class = "row">
                                <div class = "col s8">
                                    <h4>{{ breeder.name.first }} {{ breeder.name.last }}</h4>
                                    </div>
                                <div class = "col s4 right-align">
                                <div ng-repeat="i in getNumber(3) track by $index">
                                    <i class="material-icons" style = "background-color: white; color: #fdd835; float:left;font-size: 40px;">star</i>
                                </div>
                                </div>
                                </div>
                                <div class = "row">
                                <div class ="col s4">
                                <h6>{{ breeder.location.city }}, {{ breeder.location.state }}<br />{{ breeder.location.country }}</h6>
                                </div>
                              <div class = "col s8 right-align">
                                <p> {{ breeder.comment }}</p>
                              </div>
                              </div>
                            </div>
                              <a href = "#modal1" class="btn-floating halfway-fab waves-effect waves-light yellow darken-1"><i class="material-icons">flag</i></a>
                        </div>
                    </div>
                    </a>
                </div>
                
            </div>
                
            <div class="row" style = "padding-top: 100px">
                <div class = "col s6 right-align">
                    <h6>Can't the breeder you're looking for?</h6>
                </div>
                <div class = "col s6 left-align">
                    <a href = "AddBreeder.html" class="waves-effect waves-light btn teal darken-1" style="width: 200px">Add a Breeder</a>
                </div>
            </div>
            </div>
            
              <!-- Modal Structure -->
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <h4>Modal Header</h4>
                  <p>A bunch of text</p>
                </div>
                <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
                </div>
              </div>
            
            
        </main>
    
        
    </body>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Services (CHANGE TO DANS) -->
    <script src="js/services/forecast.js"></script>

   <!-- JS Scripts -->
    <script src="js/scripts.js"></script>


</html>
